@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
@import url(./fonts/GrancinoRegular-jEva9.otf);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

/* Стилизация под десктоп */

.navigation {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding: 5px;
}

.navigation__links {
  display: flex;
  gap: 42px;
  padding: 40px;
}

.navigation__login {
  padding: 24px;
}

.login__btn {
  color: #fff;
  font-family: Josefin Sans;
  width: 180px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-top: -15px;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}

.navigation__link {
  color: #446381;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  gap: 600px;
}

.header__left-side {
  display: flex;
  padding: 10px;
}

.header__right-side {
  display: flex;
  padding: 35px;
}

.navigation__right {
  display: flex;
  gap: 52px;
}

.header__right__btns {
  display: flex;
  border-radius: 25px;
  font-size: 18px;
  height: 40px;
  font-style: normal;
  line-height: 24px;
  width: 180px;
  height: 50px;
  color: #fff;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}

.header__btn {
  width: 180px;
  height: 50px;
  color: #fff;
  border: none;
  font-family: Josefin Sans;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}

.subtitle__wrapper {
  display: flex;
  gap: 190px;
  padding: 50px;
  text-align: start;
  justify-content: center;
  margin-bottom: 164px;
}

.subtitle_left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.subtitle_text2 {
  text-align: start;
  padding: 5px;
  width: 518px;
  color: #826f8c;
  font-family: Josefin Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.subtitle_text1 {
  padding: 5px;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.subtitle_right {
  display: flex;
  flex-direction: column;
}

.MainTitle {
  width: 471px;
  height: 144px;
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

main,
header {
  background-color: #f5e0d5;
}

.save {
  display: flex;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.span {
  color: #446381;
  font-family: Josefin Sans;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.subtitle-btn {
  width: 207px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  line-height: 24px;
  background: linear-gradient(130deg, #4499d9 0%, #6e6cc1 100%);
}

.subtitle__text__card {
  text-align: center;
  padding: 20px;
  width: 145.786px;
  height: 27.143px;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.subtitle_card {
  width: 211.488px;
  height: 95px;
  display: flex;
  border-radius: 10px;
  opacity: 0.4000000059604645;
  background: #fff;
}

.subtitle__img {
  display: flex;
  width: 83.836px;
  height: 45px;
}

.text__about {
  display: flex;
  gap: 200px;
  justify-content: center;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text__information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text_h1 {
  width: 188px;
  height: 23.912px;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text_h2 {
  width: 700px;
  height: 143.474px;
  flex-shrink: 0;
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.text_p {
  width: 518px;
  height: 115.576px;
  flex-shrink: 0;
  color: #826f8c;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.about__img {
  display: flex;
  margin-top: -400px;
}

.footer {
  display: flex;
  padding: 40px;
  gap: 156px;
  justify-content: center;
  background: #fce0cf;
}

.img__game {
  display: flex;
}

.footer__text {
  display: flex;
  padding: 30px;
  width: 500px;
  height: 30px;
  flex-shrink: 0;
  color: #826f8c;
  font-family: Josefin Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.footer__facebook {
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.about_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information_left {
  display: flex;
  width: 500px;
  height: 450px;
}

.about__subtitle {
  width: 188px;
  height: 23.912px;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.about__MainTitle {
  width: 586px;
  text-align: start;
  height: 144.474px;
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.about__description {
  text-align: start;
  width: 518px;
  height: 115.576px;
  color: #826f8c;
  font-family: Josefin Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.about_btn {
  width: 207px;
  height: 49.817px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: #fff;
  font-family: Josefin Sans;
  background: var(
    --gradient,
    linear-gradient(130deg, #4499d9 0%, #6e6cc1 100%)
  );
}

.information__wrapper {
  display: flex;
  justify-content: center;
  padding: 200px;
  margin-bottom: 48px;
}

.plan__contents__1 {
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}

.plan__1 {
  display: flex;
  justify-content: center;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.plan__2 {
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.plan__content {
  display: flex;
  justify-content: center;
}

.plan__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 360.182px;
  height: 566px;
  border-radius: 20px;
  background: #fbdacf;
  box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
}

.plan__cards_big {
  width: 359.491px;
height: 606px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px;
  align-items: center;
  width: 360.182px;
  height: 566px;
  border-radius: 20px;
  background: #09143C;
  box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
}

.plan__cards_big h2 {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 35px;
  color: #fff;
  font-family: Josefin Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__cards_big h3 {
  width: 300px;
  height: 60px;
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__cards_big p {
  width: 160px;
  height: 231px;
  color: #fff;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.plan__cards_big span {
  width: 87.31px;
  color: #eb8382;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.big_button {
  justify-content: center;
  display: flex;
  width: 267px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  background: var(
    --gradient,
    linear-gradient(130deg, #4499d9 0%, #6e6cc1 100%)
  );
}

.plan__cards h2 {
  display: flex;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__cards h3 {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__cards h3 span {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__cards p {
  width: 200px;
  height: 300px;
  color: #826f8c;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

.plan__cards button {
  justify-content: center;
  display: flex;
  width: 267px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  background: var(
    --gradient,
    linear-gradient(130deg, #4499d9 0%, #6e6cc1 100%)
  );
}

.text1 {
  display: flex;
  width: 76.153px;
  height: 34.989px;
  color: #446381;
  font-family: Josefin Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text2 {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text2 span {
  width: 87.31px;
  color: #eb8382;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

.text2__1 {
  width: 87.31px;
  border-radius: 20px;
  background: #fbdacf;
  box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
}

.text3 {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text3 span {
  width: 87.31px;
  color: #eb8382;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

.plan__cards {
  display: flex;
}


@media (max-width:1140px) and (min-width:376px) {
  .container {
    max-width: 376px;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }
  .navigation__links {
    display: flex;
    gap: 50px;
    max-width: 3000px;
    margin-right: -40px;
  }

  .navigation__link {
    width: 80px;
  }

  .subtitle__wrapper {
    display: flex;
    flex-direction: column;
  }

  .subtitle_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:-400px;
  }

  .text__about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    margin-left: 150px;
  }

  .text__information {
    display: flex;
    align-items: center;
    margin-left:-20px;
  }

  .information__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left:-100px;
  }

  .plan__contents__1 {
    display: flex;
    justify-items: center;
    margin-left:-200px;
  }

  .plan__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    padding: 40px;
    gap: 40px;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width:1000px;
    width: 1000px;
    margin-left:-200px;
  }

  main,
header {
  background-color: #f5e0d5;
  margin-right: -500px;
}
}