@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
@import url(./fonts/GrancinoRegular-jEva9.otf);
@import url(./fonts/Qanelas-Heavy.woff);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #fddbc8;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1468px;
  margin: 0 auto;
}

/* Стилизация под десктоп */

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.navigation__left-side {
  padding: 10px;
}

.navigation__right-side {
  display: flex;
  gap: 52px;
  align-items: center;
}

.navigation__links {
  display: flex;
  gap: 42px;
  padding: 30px;
}

.login__btn {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
}

.navigation__link {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.subtitle__wrapper {
  display: flex;
  gap: 100px;
  margin-bottom: 200px;
}

.content__subtitle {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.subtitle-text1 {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.MainTitle {
  width: 578px;
  height: 143.474px;
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.MainTitle span {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.text-span {
  color: #446381;
  font-family: "Qanelas Soft";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}

.subtitle_text2 {
  width: 518px;
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.subtitle-btn {
  width: 207px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 25px;
  background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
  border: none;
  cursor: pointer;
}

.text__wrapper {
  display: flex;
  gap: 200px;
  margin-bottom: 200px;
}

.text__information {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.text_h1 {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 104.348% */
}

.text_h2 {
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 31px;
  font-style: normal;
  width: 300px;
  font-weight: 700;
  line-height: 75px; /* 110.294% */
}

.text_p {
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 18px;
  width: 600px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 161.111% */
}

.text-subtitle {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 200px;
  height: 49.817px;
  border-radius: 25px;
  background: var(
    --gradient,
    linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%)
  );
  border: none;
}

.information__wrapper {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 200px;
}

.about_right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__subtitle {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 104.348% */
}

.about__MainTitle {
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 31px;
  width: 300px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 110.294% */
}

.about__description {
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  width: 350px;
  font-weight: 500;
  line-height: 29px; /* 161.111% */
}

.about_btn {
  width: 207px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-radius: 25px;
  background: var(
    --gradient,
    linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%)
  );
}

.contents__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  margin-bottom: 200px;
}

.plan__1 {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 104.348% */
}

.plan__2 {
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 110.294% */
}

.plan__content {
  display: flex;
  justify-content: center;
  gap: 41px;
  margin-bottom: 200px;
}

.plan__cards {
  padding: 30px;
  width: 360.182px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 566px;
  border-radius: 20px;
  background: #fbdacf;
  box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
}

.select-plan-btn {
  border-radius: 25px;
  background: var(
    --gradient,
    linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%)
  );
  width: 267px;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  border: none;
  height: 50px;
}

.basic {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 76.153px;
  height: 34.989px;
}

.dollars {
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dollars span {
  color: #eb8382;
  font-family: "Josefin Sans";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plans-li {
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
}

li {
  list-style: none; /* Убираем исходные маркеры */
  background: url(./img/1.png) no-repeat 0 4px; /* Параметры фона */ /* Смещаем текст вправо */
  padding-left: 32px;
}

.plan__cards-big {
  padding: 25px;
  border-radius: 20px;
  background: #1c2f74;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 359.491px;
  height: 606px;
}

.standard {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 127px;
  height: 35px;
}

.plans-liks {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.plan__cards-medium {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 20px;
  width: 359.491px;
  height: 606px;
  border-radius: 20px;
  background: #fbdacf;
  box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
}

.premium {
  color: #446381;
  font-family: "Josefin Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plans-liks1 {
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
}

.dollarses {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 27px;
  width: 310px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dollarses span {
  color: #eb8382;
  font-family: Josefin Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footers-text {
  color: #826f8c;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

@media (min-width: 200px) and (max-width: 1000px) {
  .hidden {
    display: none;
  }

  .navigation {
    max-width: 200px;
  }

  .text__wrapper {
    max-width: 300px;
  }

  .content__subtitle {
    display: flex;
    align-items: center;
  }

  .subtitle__wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 270px;
  }

  .subtitle_text2 {
    width: 300px;
  }

  .game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .MainTitle {
    width: 200px;
    font-size: 30px;
  }

  .MainTitle span {
    max-width: 400px;
    font-size: 30px;
  }

  .about__MainTitle {
    font-size: 30px;
    width: 340px;
  }

  .text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_right {
    display: flex;
    align-items: center;
  }

  .text__information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_h1 {
    width: 200px;
    font-size: 20px;
  }

  .text_h2 {
    width: 360px;
    font-size: 26px;
  }

  .text_p {
    width: 300px;
    font-size: 15px;
  }

  .information__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan__2 {
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 30px;
  }

  .plan__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dollars {
    width:320px;
  }

  .plan__cards {
    width:340px;
  }

  .plan__cards-big {
    width:340px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footers-text {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}
